


img {
    width: 50px;
    height: 50px;
}

form {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

input[type="submit"] {
    border: none;
    margin-left: 15px;
    border-radius: 3px;
    padding: 0 15px;
    cursor: pointer;
}

#rating-filter {
    padding: 5px;
    border: none;
    cursor: pointer;
}

section {
    margin: auto;
    margin-top: 20px;
    max-width: 760px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

figure {
    width: 14em;
    margin: .50em;
    -webkit-box-shadow: 0 5px 18px 0 gray;
    box-shadow: 0 5px 18px 0 gray;
    overflow: hidden;
    position: relative;
}



figcaption {
    line-height: 2;
    padding: 0 .80em;
}

p {
    text-transform: capitalize;
    font-size: .80em;
    margin-bottom: 0;
    margin-top: 0;
}

.rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.fa-heart {
    color: rgb(250, 80, 80);
    margin: .50em .50em .50em 0;
}

h4 {
    margin: 0;
}

